@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.dark {
  --color-bg: #18181b;
  --color-text: #ffffff;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/assets/images/start.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal-overlay {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-overlay.open {
  opacity: 1;
}

.modal-content {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.modal-content.open {
  transform: scale(1);
  opacity: 1;
}


.bg-start {
  background-image: url('/assets/images/start.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}

.floating {
  animation: float 3s ease-in-out infinite;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px theme('colors.gray.800');
  }
}